[submodule "services/mexicanbonora"]
	path = services/mexicanbonora
	url = https://codeberg.org/rikyiso01/mexicanbonora.git
[submodule "services/mutechromecastads"]
	path = services/mutechromecastads
	url = ssh://git@codeberg.org/rikyiso01/mutechromecastads.git
[submodule "services/rpg"]
	path = services/rpg
	url = https://codeberg.org/rikyiso01/rpg.git
