services:
  minecraft:
    image: docker.io/itzg/minecraft-server:java21-alpine
    container_name: minecraft
    tty: true
    stdin_open: true
    read_only: true
    tmpfs:
      - /tmp:exec
    ports:
      - "25565:25565"
      - "24454:24454/udp"
      - "7867:7867"
    environment:
      UID: "1000"
      GID: "1000"
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.21.4"
      MEMORY: "4G"
      # Server config
      DIFFICULTY: "normal"
      VIEW_DISTANCE: "10"
      SIMULATION_DISTANCE: "10"
      ONLINE_MODE: "false"
      SERVER_NAME: "Island SMP"
      MOTD: "Biancaneve e le 7 canne"
      ICON: "https://raw.githubusercontent.com/rikyiso01/config/refs/heads/main/nix/logo.png"
      MODE: "survival"
      ENABLE_AUTO_PAUSE: "true"
      MAX_TICK_TIME: "-1"
      MODRINTH_PROJECTS: "simple-voice-chat,thizzyz-tree-feller"
      ENABLE_WHITELIST: "true"
      PLUGINS: |
        https://github.com/gnmyt/MCDash/releases/download/v1.1.7/MCDash-1.1.7.jar
    volumes:
      - minecraft:/data
    restart: unless-stopped

  backups:
    image: itzg/mc-backup:latest
    container_name: backups
    read_only: true
    environment:
      BACKUP_INTERVAL: "2h"
      RCON_HOST: minecraft
      SRC_DIR: /data
      BACKUP_NAME: world
      BACKUP_METHOD: tar
      BACKUP_ON_STARTUP: true
      PAUSE_IF_NO_PLAYERS: true
      PLAYERS_ONLINE_CHECK_INTERVAL: 5m
      PRUNE_BACKUPS_COUNT: 30
      PRUNE_BACKUPS_DAYS: 90
    volumes:
      - minecraft:/data:ro
      - minecraft-backups:/backups
    restart: unless-stopped

  restarter:
    image: docker.io/docker:cli
    init: true
    container_name: restarter
    read_only: true
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        while true; do
          if [ "$$(date +'%H:%M')" = '02:00' ]; then
            docker restart minecraft
          fi
          sleep 60
        done
    restart: unless-stopped

  watchtower:
    image: docker.io/containrrr/watchtower:latest
    container_name: watchtower
    read_only: true
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped

volumes:
  minecraft:
    name: minecraft
  minecraft-backups:
    name: minecraft-backups
