services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:11
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=forgejo-db:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
      - FORGEJO__database__PASSWD=forgejo
    volumes:
      - forgejo:/data
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - forgejo-db

  forgejo-db:
    image: docker.io/postgres:14
    environment:
      - POSTGRES_USER=forgejo
      - POSTGRES_PASSWORD=forgejo
      - POSTGRES_DB=forgejo
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  forgejo:
  postgres:
